<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-x1-5">
        <div class="card bg-secondary text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h1 class="fw-bold mb-2 text-uppercase">EMS</h1>
              <p class="text-white-50 mb-5">Please enter your username and password!</p>
              <form
                *ngIf="!isLoggedIn"
                name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate
              >

                <div class="form-group">
                  <label for="username">Username</label>
                    <input
                      type="text"
                      class="form-control"
                      id="username"
                      name="username"
                      [(ngModel)]="form.username"
                      required
                      #username="ngModel"
                    />
                  <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="username.errors && f.submitted"
                  >
                    Username is required!
                  </div>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    [(ngModel)]="form.password"
                    required
                    minlength="4"
                    #password="ngModel"
                  />
                  <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="password.errors && f.submitted"
                  >
                    <div *ngIf="password.errors['required']">Password is required</div>
                    <div *ngIf="password.errors['minlength']">
                      Password must be at least 4 characters
                    </div>
                  </div>
                </div>
                <div class="form-group p-3 m-2">
                  <button class="btn btn-primary btn-block">
                    Login
                  </button>
                </div>

                <div class="form-group p-3">
                  <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="f.submitted && isLoginFailed"
                  >
                    Login failed: {{ errorMessage }}
                  </div>
                </div>
              </form>
              <div class="alert alert-success" *ngIf="isLoggedIn">.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

