<div class="d-flex justify-content-between align-items-center">
  <app-nav></app-nav>
  <app-search-qualification></app-search-qualification>
</div>
<h5>Qualifications</h5>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Designation</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let qualification of qualifications$ | async">
    <th>
      <input (click)="addToSelectedList(qualification)" class="form-check-input" type="checkbox">
      {{qualification.designation}}
    </th>
    <th><button (click)="deleteQualification(qualification)" type="submit" class="btn material-icons">delete</button></th>
  </tr>
  </tbody>
</table>
<div class="d-flex flex-row-reverse">
  <button routerLink="/newQualification" type="submit" class="btn btn-outline-dark material-icons">add</button>
  &nbsp;&nbsp;
  <button type="submit" (click)="deleteSelectedQualifications()" class="btn btn-outline-dark material-icons">delete</button>
</div>
