<app-nav></app-nav>
<div class="form-group mx-sm-3 mb-2">
  <h5>Employee Details</h5>

  <label >Firstname</label>
  <input class="form-control input-sm" type="text" [(ngModel)]="employee.firstName">

  <label >Lastname</label>
  <input class="form-control input-sm" type="text"  [(ngModel)]="employee.lastName">

  <label >Street</label>
  <input class="form-control input-sm" type="text"  [(ngModel)]="employee.street">

  <label >Postcode</label>
  <input class="form-control input-sm" type="text"  [(ngModel)]="employee.postcode">

  <label >Street</label>
  <input class="form-control input-sm" type="text" [(ngModel)]="employee.street">

  <label >City</label>
  <input class="form-control input-sm" type="text"  [(ngModel)]="employee.city">

  <label >Phone</label>
  <input class="form-control input-sm" type="text"  [(ngModel)]="employee.phone">

  <h5>{{employee.firstName}} {{employee.lastName}} Qualifications</h5>
    <ul class="list-group">
      <li *ngFor="let eQ of employeeQualifications.skillSet" class="list-group-item">{{eQ.designation}}</li>
    </ul>






  <label></label>
  <div class="d-flex justify-content-between">
    <button routerLink="/employees" type="reset" class="btn btn-light btn-lg btn-outline-dark"><i class="bi bi-x-circle"></i> Cancel</button>
    <button (click)="deleteEmployee()" type="submit" class="btn btn-light btn-lg btn-outline-dark"><i class="bi bi-trash"></i> Delete</button>
    <button (click)="updateEmployee(employee)" type="submit" class="btn btn-light btn-lg btn-outline-dark"><i class="bi bi-save"></i> Save</button>
  </div>
</div>






