<select (change)="setQualification($event)" class="form-select">
  <option selected>Select a qualification</option>
  <option  *ngFor="let qualification of qualifications$ | async">{{qualification.designation}}</option>
</select>

