<app-nav></app-nav>
<form>
  <h5>Create New Employee:</h5>

  <label >Firstname</label>
  <input class="form-control input-sm" name="firstName" type="text" value="" [(ngModel)]="employee.firstName">

  <label >Lastname</label>
  <input class="form-control input-sm" name="lastName" type="text" value="" [(ngModel)]="employee.lastName">

  <label >Street</label>
  <input class="form-control input-sm" name="street" type="text" value=""  [(ngModel)]="employee.street">

  <label >Postcode</label>
  <input class="form-control input-sm" name="postcode" type="text" value=""  [(ngModel)]="employee.postcode">

  <label >City</label>
  <input class="form-control input-sm" name="city" type="text" value=""  [(ngModel)]="employee.city">

  <label >Phone</label>
  <input class="form-control input-sm" name="phone" type="text" value=""  [(ngModel)]="employee.phone">
  <br>

  <div class="border border-secondary container">
    <div *ngIf="!getNewQualification()">
      <br>
      <h5>Select Qualification:</h5>
      <app-qualification-filter></app-qualification-filter>
      <br>
      <h5>Add New Qualification:</h5>
      <button (click)="setNewQualification()" type="submit" class="btn btn-outline-dark material-icons text-right">add</button>
    </div>

    <div *ngIf="getNewQualification()">
      <br>
      <button (click)="setNewQualification()" type="submit" class="btn btn-outline-dark material-icons text-right">close</button>
      <br>
      <br>
      <app-create-qualification></app-create-qualification>
    </div>
    <br>
  </div>

  <br>
  <div class="d-flex justify-content-between">
    <button routerLink="/employees" type="reset" class="btn btn-light btn-lg btn-outline-dark"><i class="bi bi-x-circle"></i> Cancel</button>
    <button (click)="saveEmployee()" type="submit" class="btn btn-light btn-lg btn-outline-dark"><i class="bi bi-save"></i> Save</button>
  </div>
  <label></label>
  <div class="d-flex justify-content-center alert alert-danger btn lh-1">{{messageErrorE}}</div>
</form>

