<div class="d-flex justify-content-between align-items-center">
  <app-nav></app-nav>
  <app-qualification-filter></app-qualification-filter>
  <app-search-employee></app-search-employee>
</div>

<h5>Employees</h5>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th colspan="2">Phone</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees$ | async">
    <th>
      <input (click)="addToSelectedList(employee)" class="form-check-input" type="checkbox">
      {{employee.id}}
    </th>
    <th><a routerLink="/detail/{{employee.id}}">{{employee.firstName}} {{employee.lastName}}</a></th>

    <th>{{employee.phone}}</th>
    <th><button (click)="deleteEmployee(employee)" type="submit" class="btn material-icons">delete</button></th>
  </tr>
  </tbody>
</table>
<div class="d-flex flex-row-reverse">
  <button routerLink="/newEmployee" type="submit" class="btn btn-outline-dark material-icons">add</button>
  &nbsp;&nbsp;
  <button type="submit" (click)="deleteSelectedEmployees()" class="btn btn-outline-dark material-icons">delete</button>

</div>
