<div class="dropdown">
  <button class="btn material-icons" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
    menu
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <li><button routerLink="/employees" class="dropdown-item" type="button">Employees</button></li>
    <li><button routerLink="/qualifications" class="dropdown-item" type="button">Qualifications</button></li>
    <li><button (click)="onLogOut()" routerLink="/login" class="dropdown-item" type="button">Logout</button></li>
  </ul>
</div>
