<form>
  <h5>Create New Qualification:</h5>
  <div class="mb-2">
    <label for="newQualification">Designation:</label>
    <input class="form-control" id="newQualification" name="newQualification" type="text" placeholder="Hier die Designation der Qualification eingeben!" [(ngModel)]="qualification.designation">
  </div>
  <div class="d-flex justify-content-between">
    <button routerLink="/employees" type="reset" class="btn btn-light btn-lg btn-outline-dark"><i class="bi bi-x-circle"></i> Cancel</button>
    <button (click)="save()" type="submit" class="btn btn-light btn-lg btn-outline-dark"><i class="bi bi-save"></i> Save</button>
  </div>
  <label></label>
  <div class="d-flex justify-content-center alert alert-danger btn lh-1">{{messageErrorQ}}</div>
</form>
