<div class="input-group">
  <input type="text" class="form-control" placeholder="Search employee by id" [(ngModel)]="searchedEmployeeId">
  <span routerLink="/detail/{{searchedEmployeeId}}"  class="input-group-text" id="basic-addon2">
    Search
  </span>
</div>
